body {
    background-image: url('https://vignette.wikia.nocookie.net/spongebob/images/b/b5/Pretty_Patty.png/revision/latest?cb=20171130232935');
    background-repeat: repeat;
    background-size: 25%
}

